<div class='inbox'>
	<div class="row">
		<div class="col-md-3">
			<div>
				<h2> You have: {{ inbox.messages.length && inbox.messages.length || 'no' }} messages.</h2>
			</div>
			<div ng-hide="!inbox.messages.length">
				<input type="text" class="inbox__search" ng-model="inbox.search" placeholder="Search by 'from', e.g. Ticket">
			</div>
		</div>
		<div class="col-md-9">
			<div >
				<ul>
					<li ng-show="!inbox.messages.length">
						<div class="list-group-item">
							<p class="list-group-item-heading">
								No messages! Try sending one.
							</p>
						</div>
					</li>
					<li ng-repeat="message in inbox.messages | filter:{from: inbox.search}">
						<div class="list-group-item">
							<p class="list-group-item-heading"> From: {{ message.from }} </p>
				        	<p class="list-group-item-text"> {{ message.date | date: 'dd/MM/yyyy' }} </p>
				        	<p class="list-group-item-text"> {{ message.subject }} </p>
				        	<div>
								<a class="btn btn-primary" href="" ng-click="inbox.goToMessage(message.id);">Read</a>
								<a class="btn btn-primary" href="" ng-click="inbox.deleteMessage(message.is, $index);">Delete</a>
							</div>
						</div>
					<hr>		
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>